<h3><%= dgettext "coherence", "Edit Account" %></h3>

<%= render "form.html", changeset: @changeset,
                        label: dgettext("coherence", "Update"), required: [],
                        action: registration_path(@conn, :update),
                        conn: @conn %>
