<h2><%= dgettext "coherence", "Show account" %></h2>
<ul>
  <li>
    <strong><%= dgettext "coherence", "Name:" %></strong>
    <%= @user.name %>
  </li>
  <%= unless (login_field = Coherence.Config.login_field) == :email do %>
    <li>
      <strong><%= humanize login_field %></strong>
      <%= Map.get(@user, login_field) %>
    </li>
  <% end %>

  <li>
    <strong>Celular:</strong>
    <%= @user.cellphone %>
  </li>

  <li>
    <strong>CPF/CNPJ:</strong>
    <%= @user.cpf_cnpj %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Código do Banco:</strong>
    <%= @user.bank_id %>
  </li>

  <li>
    <strong>Nome do Banco:</strong>
    <%= @user.bank %>
  </li>

  <li>
    <strong>Documento do titular da conta:</strong>
    <%= @user.account_owner_document %>
  </li>

  <li>
    <strong>Conta:</strong>
    <%= @user.account %>
  </li>

  <li>
    <strong>Dígito da Conta:</strong>
    <%= @user.digit_account %>
  </li>

   <li>
    <strong>Agência:</strong>
    <%= @user.agency %>
  </li>

   <li>
    <strong>Tipo da Conta:</strong>
    <%= @user.account_type %>
  </li>

   <li>
    <strong>Link de divulgação:</strong>
    www.dentalbook.com.br/<%= @user.market_link %>
  </li>

</ul>

<%= link "Editar dados básicos", to: registration_path(@conn, :edit) %> |
<%= link "Editar dados bancários", to: partner_path(@conn, :edit, @user) %>
