<style>
  .contract-action{
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #1576c2;
  }

  .contract-action > a{
    margin-left: 20px;
    vertical-align: middle;
  }

  .btn-group-vertical:not(.bootstrap-select), .btn-group:not(.bootstrap-select){
    box-shadow: none;
  }

  .btn-shadow{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  }

  .no-plan{
    display: none;
  }

  .no-show{
    display: none;
  }

  .text-dark{
      margin-top: 1.5rem;
      margin-bottom: 1rem;
  }

  .footer-separation{
      margin-bottom: 8em;
  }

  #contract-content > p{
    text-align: justify;
  }

</style>

<form action="<%= deal_path(@conn, :create) %>" method="post">
    <input type="hidden" name="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <input type="hidden" name="partner_id", value="<%= @partner.id %>">

    <section id="contract-content" class="footer-separation">
      <%= show_filled_deal(@partner) %>
    </section>

    <footer class="contract-action text-center">
        <div class="mt-4 btn-group-no-shadow">
            <%= link "Não aceito os termos", to: Coherence.Config.logged_out_url("/"), class: "btn btn-danger w-md btn-bordered" %>
            <%= submit "Sim! Aceito os termos", class: "btn btn-primary w-md btn-bordered", id: "next-register-action" %>
        </div>

        <p class="text-dark" style="padding-left:20px; padding-right:20px;">
            Ao selecionar a opção "Sim! Aceito os termos" você assume ter lido e concordado com os termos e 
            condições do plano de representação apresentado.
        </p>
    </footer>
</form>