<table class="table">
  <thead>
    <tr>
      <th class="col-sm-7">Empresa</th>
      <th class="col-sm-3">Comissão</th>
      <th class="col-sm-1"></th>
    </tr>
  </thead>
  <tbody>
    <%= for client <- assigns[:clients] do %>
        <tr>
        <td><%= client.company_name %></td>
        <td><%= format_currency(client.partner_payment) %></td>
        <td><%= link "Ver+", to: DentalbookPartners.Router.Helpers.company_path(DentalbookPartners.Endpoint, :show, client.company_id), class: "btn btn-primary btn-xs" %></td>
        </tr>
    <% end %>
  </tbody>
</table>