<h3>Detalhes do cliente</h3>

<ul>
  <li>
    <strong>Empresa: </strong>
    <%= @client_details.company_name %>
  </li>

  <li>
    <strong>Proprietário: </strong>
    <%= @client_details.owner_name %>
  </li>

  <li>
    <strong>Celular: </strong>
    <%= @client_details.owner_cellphone %>
  </li>

  <li>
    <strong>E-mail: </strong>
    <%= @client_details.owner_email %>
  </li>

  <li>
    <strong>Plano: </strong>
    <%= @client_details.account_plan %>
  </li>

  <li>
    <strong>Valor da mensalidade: </strong>
    <%= @client_details.account_price %>
  </li>
</ul>

<%= link "Voltar", to: DentalbookPartners.Router.Helpers.partner_path(DentalbookPartners.Endpoint, :index), class: "btn btn-primary" %> 
 