<%= form_for @changeset, @action, fn f  -> %>

  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p><%= dgettext "coherence", "Oops, something went wrong! Please check the errors below." %></p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, "Banco", class: "control-label" %>
    <%= select f, :bank, ["001 - Banco do Brasil", "033 - Santander", "001 - Banco do Brasil", "033 - Santander", "Outro"], class: "form-control" %>
    <%= error_tag f, :bank %>
  </div>

  <div class="form-group">
    <%= label f, "Tipo da conta", class: "control-label" %>
    <%= select f, :account_type, ["Poupança", "Corrente"], class: "form-control" %>
    <%= error_tag f, :account_type %>
  </div>

  <div class="form-group">
    <%= label f, "CPF/CNPJ do Titular", class: "control-label" %>
    <%= text_input f, :account_owner_document, class: "form-control", required: "" %>
    <%= error_tag f, :account_owner_document %>
  </div>

  <div class="form-group">
      <%= label f, "Agência", class: "control-label" %>
      <%= text_input f, :agency, class: "form-control", required: "" %>
      <%= error_tag f, :agency %>
  </div>

  <div class="form-group">
    <%= label f, "Número da conta", class: "control-label" %>
    <%= text_input f, :account, class: "form-control", required: "" %>
    <%= error_tag f, :account %>
  </div>

  <div class="form-group">
    <%= label f, "Dígito da conta", class: "control-label" %>
    <%= text_input f, :digit_account, class: "form-control" %>
    <%= error_tag f, :digit_account %>
  </div>

  <div class="form-group">
    <%= submit "Salvar", class: "btn btn-primary" %>
    <%= link dgettext("coherence", "Cancel"), to: partner_path(@conn, :index), class: "btn" %>
  </div>
<% end %>
