<div class="jumbotron jumbotron-fluid">
    <h5 style="color:#337ab7;">
      www.dentalbook.com.br/?parceiro=<%= @market_link_sufix %>
    </h5>
    <h4>
      Seu link de divulgação      
    </h4>

    <hr style="border-top: 2px solid rgba(0,0,0,.1);">
    <h2><%= format_currency(@assigns[:partner_payment]) %></h2>
    <h4>
      Total a ser recebido no mês
    </h4>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Recebimentos do mês</div>
  <%= c "partner_payment_table.html", clients: @assigns[:active_clients] %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Empresas pendentes</div>
  <%= c "partner_payment_table.html", clients: @assigns[:pendent_clients] %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Empresas inativas</div>
  <%= c "partner_payment_table.html", clients: @assigns[:inactive_clients] %>
</div>
