<style>
  .jumbotron>h2{
    font-size: 3rem;
  }

  .jumbotron>p{
    font-size: 1.5rem;
    margin-bottom:0;
  }

  .marketing{
    margin-top:0;
    paddin-top:0;
  }

  .col-lg-6{
    margin-top: 3rem;
  }

  .with-less-margin{
    margin-top: 1.5rem;
  }

  .thead-light{
    background-color: #e9ecef;
    border-color: #e9ecef;
  }

</style>

<div class="jumbotron">
  <h2>Bem vindo ao programa de parceiros Dentalbook</h2>
  <p class="lead">
    Abaixo apresentamos informações importantes. 
    </br>Elas demonstram as vantagens de acreditar em nossa parceria.
  </p>
</div>

<div class="row marketing">
  <div class="col-sm-12 with-less-margin">
    <h5><strong>Dentalbook: O que é e a quem se destina?</strong></h5>
    <p class="text-justify">
      O software Dentalbook é um sistema para atender preferencialmente os profissionais de odontologia que ainda
      gerenciam seus estabelecimentos no papel.
    </p>
    <p class="text-justify">
      No Dentalbook o profissional de saúde pode ter o controle dos tratamentos de seus pacientes e do fluxo financeiro gerado
      por seu negócio.
    </p>
  </div>

  <div class="col-sm-12">
    <h5><strong>Quem a Dentalbook quer como parceiro?</strong></h5>
    <p class="text-justify">
      Buscamos por representantes proativos, que tenham responsabilidade e que desejam obter ganhos extras 
      por meio das vendas e fidelização de sua carteira de clientes como parceiro Dentalbook.
    </p>

    <p>
      O modelo de remuneração está fortemente ligado à duas tarefas: 
      <ul>
        <li>Trazer novos usuários para o software Dentalbook;</li> 
        <li>Manter uma carteira de clientes;</li>
      </ul>
    </p>
  </div>

  <div class="col-sm-12">
    <div class="jumbotron">
      <h5><strong>Renda cumulativa </br>Liberdade de horário e local</strong></h5>
      <p class="lead">
        São alguns dos benefícios de ser um representante Dentalbook.
      </p>
    </div>
  </div>

  <div class="col-sm-12">
    <h5><strong>O que é renda cumulativa?</strong></h5>
    <p class="text-justify"> 
      Sendo um representante Dentalbook você não ganha somente com a venda realizada.
      Enquanto o cliente estiver ativo você receberá 30% do valor de cada mensalidade paga. 
    </p>

    <p class="text-justify">
      A principal vantagem desse modelo é que a medida que sua carteira de clientes cresce você recebe 
      um montante em percentual cada vez maior. Isso te dá mais liberdade para ter uma renda sem a necessidade
      de trabalhar. 
    </p>

    <p>
      E tem mais... 
    </p>

    <p>
      <strong class="text-danger">A primeira mensalidade que o cliente paga é inteiramente sua.</strong> 
    </p>
  </div>

  <div class="col-sm-12">
    <h5><strong>O que é Liberdade de horário e local?</strong></h5>
    <p class="text-justify">
      Você pode exercer sua representação de onde bem entender - da sua casa,
      bairro, com anúncios pela internet etc. 
      </br>A qualquer horário do dia e também da noite, caso desejar. 
    </p>

    <p>
      Você tem total liberdade para montar sua estratégia de vendas. 
      </br>Nós não faremos qualquer cobrança sobre metas ou tarefas a serem executadas. 
      </br>Seus resultados vão depender única e exclusivamente de suas próprias decisões. 
    </p>

    <p>
      <strong class="text-danger">Sem chefe, sem bater ponto e sem escritório.</strong> 
    </p>
  </div>

  <div class="col-sm-12">
    <div class="jumbotron">
      <h5><strong>Planos</strong></h5>
      <p class="lead">
        Oferecemos os nossos serviços em 3 modalidades distintas
      </p>
    </div>
  </div>

  <div class="col-sm-12">
    <h5><strong>Plano Incisivo - R$ 34,90</strong></h5>
    <p class="text-justify">
      Este é o plano de entrada oferecido para os profissionais que trabalham sozinhos, não possuindo nem secretária.
      </br>Este plano possui a menor quantidade de vantagens e é cobrado por usuário cadastrado.
    </p>
  </div>

  <div class="col-sm-12">
    <h5><strong>Plano Canino - R$ 59,90</strong></h5>
    <p>
      Este plano possui as maiores vantagens para o profissional. 
      </br>Sem limite de usuários cadastrados, com acesso completo ao sistema e suporte técnico.
    </p>
  </div>

  <div class="col-sm-12">
    <h5><strong>Plano Molar - R$ 299,90</strong></h5>
    <p>
      Possui as mesmas características do plano canino,
      com o diferencial do profissional pagar 5 meses e usufruir por 6 meses.
    </p>
  </div>

  <div class="col-sm-12">
    <h5><strong>Existe test-drive?</strong></h5>
    <p class="text-justify">
      Sim! Disponibilizamos um ambiente que você pode usar para conhecer o sistema
      e também para apresentações aos seus possíveis clientes. </br>Esse ambiente pode ser acessado
      por meio do seguinte endereço: <a href="https://dentalbook.herokuapp.com">dentalbook.herokuapp.com</a>
       (melhor experiência no uso em pc).
      </br>Basta criar uma conta e usar a vontade as funcionalidades do sistema. 
      Todas as informações são tratadas como fictícias, não gerando nenhuma cobrança relacionada ao plano escolhido.
    </p>

    <p class="text-justify">
      Porém, o endereço no qual o seu cliente irá se cadastrar para uso do sistema de fato é utilizando o seu link de parceiro.
      <strong>O link de parceiro não é para testes</strong>. 
      Contas criadas por meio desse link vão gerar cobranças no cartão de crédito informado.
    </p>
  </div>

  <div class="col-sm-12">
    <h5><strong>O que é Link de Parceiro?</strong></h5>
    <p class="text-justify">
      Quando você se torna um representante Dentalbook, disponibilizamos um link para que seja possível 
      rastrear quais são os clientes sob sua representação, ou seja, aqueles clientes que foi você quem trouxe para o sistema.
    </p>

    <p class="text-justify">
      Isso significa que os clientes com os quais você fechar contrato precisam, necessariamente, 
      se cadastrar no sistema Dentalbook usando o seu link de parceiro.
    </p>
  </div>

  <div class="col-sm-12">
    <div class="jumbotron">
      <h5><strong>Modelo de Remuneração</strong></h5>
      <p class="lead">
        Essa é a parte mais interessante.
      </p>
    </div>
  </div>

  <div class="col-sm-12">
    <h5><strong>Quanto você vai ganhar?</strong></h5>
    <p class="text-justify">
      Você, como representante, ao realizar vendas dos planos Incisivo e Canino receberá o 
      <span class="text-danger">valor integral da 1º mensalidade</span>
      e <span class="text-danger">a partir da 2º mensalidade</span> do cliente você 
      <span class="text-danger">receberá 30% </span> do valor da mesma, 
      enquanto o cliente estiver ativo no sistema Dentalbook.
    </p>

    <p class="text-justify">
      Como no plano Molar o cliente paga de uma única vez o valor de R$ 299,90
      para uso do software por 6 meses, a sua remuneração acontece da seguinte forma: 
      </br>O valor pago pelo cliente é dividido em 6 parcelas, você recebe o valor
      correspondente a 1º parcela mais 30% das 5 parcelas restantes. De uma única vez.
    </p>
  </div>

  <div class="col-sm-12">
    <div class="jumbotron">
      <h5><strong>Importante</strong></h5>
      <p class="lead">
        <strong>O cliente tem o direito de pedir reembolso da 1º mensalidade em até 30 dias</strong>. 
        </br>Sendo assim, em uma situação de desistência do uso do software, o valor é integralmente reembolsado ao cliente. 
        Dessa forma, nem a Dentalbook nem o representante são remunerados. 
      </p>

      <p class="text-danger">
        Portanto, a sua remuneração só é efetivada após a segunda mensalidade paga pelo cliente.
      </p>
    </div>
  </div>

  <div class="col-sm-12">
    <h5><strong>Exemplo de rendimentos</strong></h5>
    <p class="text-justify">
      Imagine que você venda 10 planos Caninos (que vale R$ 59,90 cada) a cada mês entre Janeiro de 2018 e Dezembro de 2018. 
    </p>
    <p class="text-justify">
      Então em Janeiro de 2019 você estará ganhando mais de <strong>R$ 2.100,00</strong> só de renda acumulativa (R.A) mensal 
      relacionada aos 30% das mensalidades dos usuários da sua carteira de clientes. 
    </p>
    <p>  
      Veja mais detalhes na tabela abaixo:
    </p>
  </div>

  <div class="col-sm-12">
    <h5><strong>Legenda da tabela</strong></h5>
    <p class="text-justify">
      <strong>1º M =></strong> Valor da primeira mensalidade multiplicado pela quantidade de vendas. 
      </br>
      </br><strong>R.A =></strong> Valor de 30% por mensalidade, recebido a partir da segunda parcela paga do cliente. 
      </br>
      </br><strong>Total =></strong> A soma dos recebimentos das primeiras mensalidades mais a renda acumulativa do mês.
      </br>
      </br><strong> Janeiro não possui nenhum valor, porque só recebemos a partir da segunda mensalidade do cliente.</strong>
    </p>
  </div>

  <table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">1º M</th>
      <th scope="col">R.A</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Jan</th>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">Fev</th>
      <td>R$ 599,90</td>
      <td>R$ 179,70</td>
      <td>R$ 778,70</td>
    </tr>
    <tr>
      <th scope="row">Mar</th>
      <td>R$ 599,90</td>
      <td>R$ 359,40</td>
      <td>R$ 958,40</td>
    </tr>
    <tr>
      <th scope="row">Abr</th>
      <td>R$ 599,90</td>
      <td>R$ 539,10</td>
      <td>R$ 1.138,10</td>
    </tr>
    <tr>
      <th scope="row">Mai</th>
      <td>R$ 599,90</td>
      <td>R$ 718,80</td>
      <td>R$ 1.317,80</td>
    </tr>
    <tr>
      <th scope="row">Jun</th>
      <td>R$ 599,90</td>
      <td>R$ 898,50</td>
      <td>R$ 1.497,50</td>
    </tr>
    <tr>
      <th scope="row">Jul</th>
      <td>R$ 599,90</td>
      <td>R$ 1.078,20</td>
      <td>R$ 1.677,20</td>
    </tr>
    <tr>
      <th scope="row">Ago</th>
      <td>R$ 599,90</td>
      <td>R$ 1.257,90</td>
      <td>R$ 1.856,90</td>
    </tr>
    <tr>
      <th scope="row">Set</th>
      <td>R$ 599,90</td>
      <td>R$ 1.437,60</td>
      <td>R$ 2.036,60</td>
    </tr>
    <tr>
      <th scope="row">Out</th>
      <td>R$ 599,90</td>
      <td>R$ 1.617,30</td>
      <td>R$ 2.216,30</td>
    </tr>
    <tr>
      <th scope="row">Nov</th>
      <td>R$ 599,90</td>
      <td>R$ 1.797,00</td>
      <td>R$ 2.396,00</td>
    </tr>
    <tr>
      <th scope="row">Dez</th>
      <td>R$ 599,90</td>
      <td>R$ 1.976,70</td>
      <td>R$ 2.575,70</td>
    </tr>
    <tr class="text-danger">
      <th scope="row">Jan</th>
      <td>R$ 599,90</td>
      <td>R$ 2.156,40</td>
      <td>R$ 2.755,40</td>
    </tr>
  </tbody>
</table>

<div class="col-sm-12">
  <div class="jumbotron">
    <h3><strong>R$ 21.204,60</strong></h3>
    <p class="lead">
      <strong>É o valor faturado em <span class="text-danger"> apenas 12 meses</span></strong>
    </p>
  </div>
</div>

 <div class="col-sm-12">
    <h5><strong>Como você vai controlar sua carteira de clientes?</strong></h5>
    <p class="text-justify">
     Ao se cadastrar como representante Dentalbook será gerado um link de parceiro que seus clientes deverão usar 
     para se cadastrar no sistema.
    </p>

    <p class="text-justify">
      Dessa forma é possível vincular a conta deste novo usuário com o restante de sua carteira de clientes. Estará
      disponível em sua conta quais clientes pendentes (30 dias), ativos e clientes inativos;
    </p>

    <p class="text-justify"><strong>Recebimentos do mês: </strong>apresenta todos os valores que serão pagos no mês atual
    dos clientes que já passaram de 30 dias de uso no sistema.</p>

    <p class="text-justify"><strong>Clientes pendentes: </strong>são aqueles que ainda estão nos 30 primeiros dias de ativação da conta. Estes clientes podem
    solicitar o cancelamento de sua conta e receber o reembolso do valor da 1º mensalidade de forma integral.</p>

    <p class="text-justify"><strong>Clientes inativos: </strong>são aqueles que já cancelaram o uso do sistema e que não geram nenhuma remuneração nem para a Dentalbook
    ou para o representante.</p>
  </div>

  <footer class="footer">
    <nav role="navigation">
      <ul class="nav nav-pills">
          <li><a href="<%= registration_path(@conn, :new) %>">Iniciar Parceria</a></li>
      </ul>
    </nav>
  </footer>

</div>
